{% set blender_url = 'https://www.blender.org' %}

<section id="art">
  <h1 class="heading">Art</h1>
  <p>
    I'm an experienced amateur 3D artist and longtime <a class="link" href="{{ blender_url }}">Blender</a> enthusiast.
  </p>
  <p class="mt-2">
    Sometimes I post completed works to <a class="link" href="{{ socials.artstation.url }}">{{ socials.artstation.label }}</a>.
  </p>
  <a href="{{ art.neon_ride.url }}">
    <img src="images/art/neon_ride_showcase.jpg" alt="Showcase" class="w-full md:w-80 rounded-md mt-8 transform hover:scale-105 transition">
  </a>
</section>
