{% set blender_url = 'https://www.blender.org' %}

<section id="art">
  <h1 class="heading">Art</h1>
  <p class="mb-8 card">
    I'm an experienced amateur 3D artist and <a class="link" href="{{ blender_url }}">Blender</a> enthusiast.
  </p>
  <div class="grid grid-cols-2 md:grid-cols-5 gap-4">
    {% for a in [art.null_hypothesis, art.crash_landing, art.one_armed_bandit, art.dig, art.suspicious_activity, art.neon_ride] %}
    <a href="{{ a.url }}" class="group transform hover:scale-105 transition">
      <img src="{{ a.image }}" alt="{{ a.title }}" class="w-full md:w-96 rounded-md shadow transition">
      <div class="pt-1 text-sm text-midnight-400"><i>{{ a.title }}</i>, {{ a.year }}</div>
    </a>
    {% endfor %}
  </div>
</section>
