{% set blender_url = 'https://www.blender.org' %}

<section id="art">
  <div class="card grid grid-cols-2 gap-8">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4">
      {% for k, a in art %}
      <a href="{{ a.url }}" target="_blank" rel="noopener noreferrer">
        <img src="{{ a.image }}" alt="{{ a.title }}" class="w-full md:w-80 rounded-lg transform hover:scale-110 transition">
      </a>
      {% endfor %}
    </div>
    <div>
      <h1 class="heading">Digital Art</h1>
      <p>
        I'm an experienced amateur 3D artist and longtime <a class="link" href="{{ blender_url }}">Blender</a> enthusiast.
      </p>
      <p class="mt-2">
        Sometimes I post completed works to <a class="link" href="{{ socials.artstation.url }}">{{ socials.artstation.label }}</a>.
      </p>
    </div>
  </div>
</section>
