<section id="contact">
  <h1 class="heading">Contact</h1>
  <p class="mb-8 card">
    Lick a virtual envelope and send it to <a class="link font-bold" href="{{ socials.email.url }}">{{ socials.email.label }}</a>.
  </p>
</section>
