<section id="contact">
  <h1 class="heading">Contact</h1>
  <div class="inline-block max-w-xs p-3 my-2 bg-gray-400 text-black rounded-2xl rounded-bl-sm shadow">
    Lick a virtual envelope and send it to <a class="font-bold hover:underline focus:underline" href="{{ socials.email.url }}">{{ socials.email.label }}</a>
  </div>
</section>
