{% from 'widgets/common.njk' import link %}
{% from 'widgets/social.njk' import social_button %}

<article class="p-4 md:p-8 border-2 border-r-4 border-b-4 rounded">
  <h1 class="text-3xl font-serif font-bold">
    Software
  </h1>
  <p class="text-lg pb-6">
    Senior Software Engineer at
    {{ link(url='https://www.watchguard.com/', label='WatchGuard') }}
  </p>
  <div class="inline-grid md:grid-cols-2 gap-4">
    {% for s in [socials.github, socials.linkedin] %}
      {{ social_button(url=s.url, icon=s.icon, label=s.label) }}
    {% endfor %}
  </div>
</article>
