<footer class="text-midnight-400 bg-midnight-900 border-t-2 border-midnight-600 shadow-inner">
  <div class="container mx-auto p-4 md:p-8">
    <div class="flex gap-4 pb-4">
      {% for k, s in socials %}
        <a href="{{ s.url }}" class="text-midnight-400 hover:text-midnight-200 focus:text-midnight-200 transition">
          <i class="{{ s.icon }} fa-fw fa-lg"></i>
        </a>
      {% endfor %}
    </div>
    <p class="pb-1">
      <a class="link" href="{{ site.source_url }}">Source code</a> is licensed MIT
    </p>
    <p class="pb-1">
      Copyright &copy; 2022 Justin Carlson
    </p>
  </div>
</footer>
