<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if build.environment == 'production' %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' https://gc.zgo.at; img-src 'self' https://justinbot.goatcounter.com/count; font-src https://fonts.gstatic.com; style-src 'self' https://fonts.googleapis.com;">
  {% endif %}

  <link rel="icon" href="/images/favicon.ico">

  <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ description or site.description }}">

  {# Open Graph protocol #}
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ title or site.title }}">
  <meta property="og:description" content="{{ description or site.description }}">
  <meta property="og:image" content="{{ image or site.image }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url or site.url }}">

  <link rel="stylesheet" type="text/css" href="/build/main.css">

  <script src="/build/vendor.js"></script>
  <script src="/build/main.js"></script>

  <script data-goatcounter="https://justinbot.goatcounter.com/count" async src="//gc.zgo.at/count.v2.js" crossorigin="anonymous" integrity="sha384-PeYXrhTyEaBBz91ANMgpSbfN1kjioQNPHNDbMvevUVLJoWrVEjDCpKb71TehNAlj"></script>
</head>
