<nav class="mb-8 md:mb-16 border-b-2 border-midnight-600">
  <div class="container mx-auto px-4 md:px-8 py-2">
    <div class="flex flex-row justify-between">
      <a href="/" class="flex items-center transform hover:scale-125 transition">
        <img src="/images/emblem.svg" alt="Justin Carlson" class="h-8 w-8">
      </a>
      <a href="{{ socials.email.url }}" class="button font-bold">
        <i class="fas fa-paper-plane fa-lg mr-2"></i>
        {{ socials.email.label }}
      </a>
    </div>
  </div>
</nav>
