<nav class="mb-8 md:mb-16 text-midnight-200 border-b-2 border-midnight-500 border-opacity-50">
  <div class="container mx-auto px-4 md:px-8 py-4">
    <div class="flex items-center justify-between flex-wrap">
      <a href="/" class="p-1 rounded-full shadow-sm transform hover:scale-125 transition">
        <img src="/images/favicon.svg" alt="Justin Carlson" class="h-8 w-8">
      </a>
      <div class="flex gap-4">
        {% for k, s in socials %}
          <a href="{{ s.url }}" class="hover:text-midnight-400 focus:text-midnight-400 transition">
            <i class="{{ s.icon }} fa-fw fa-lg"></i>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
