{% macro link(url, label) %}
  <a href="{{ url }}" class="border-gray-400 border-b-2 hover:text-primary hover:border-primary focus:text-primary focus:border-primary transition">{{ label }}</a>
{% endmacro %}
