{% macro social_button(url, icon, label) %}
  <a href="{{ url }}" class="px-4 py-2 border-4 border-current rounded-lg hover:bg-primary hover:border-transparent hover:shadow focus:bg-primary focus:border-transparent focus:shadow transition">
    <i class="{{ icon }} fa-lg"></i>
    <span class="pl-1 text-lg font-bold">{{ label }}</span>
  </a>
{% endmacro %}

{% macro social_icon(url, icon, label) %}
  <a href="{{ url }}" class="hover:text-primary focus:text-primary transition">
    <i class="{{ icon }} fa-lg"></i>
  </a>
{% endmacro %}
