<!doctype html>
<html lang="{{ site.lang }}">
  {% include 'head.njk' %}
  <body class="text-midnight-100 bg-black">
    <main class="min-h-screen pb-32 md:pb-64 bg-gradient-to-tr from-midnight-600 to-midnight-900">
      {% include 'nav.njk' %}
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
  </body>
</html>
