<!doctype html>
<html lang="{{ site.lang }}">
  {% include 'head.njk' %}
  <body class="text-midnight-100 bg-gradient-to-br from-midnight-900 via-black to-midnight-900">
    <main class="min-h-screen pb-96">
      {% include 'nav.njk' %}
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
  </body>
</html>
