@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');

@import '@fortawesome/fontawesome-svg-core/styles.css';

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@layer components {
  .heading {
    @apply mb-2 text-2xl text-midnight-400 font-serif font-bold;
  }

  .button {
    @apply px-8 py-2 text-center text-primary bg-primary bg-opacity-10 hover:bg-opacity-25 focus:bg-opacity-25 border-2 border-primary border-opacity-25 rounded-lg shadow-sm transition;
  }

  .link {
    @apply text-primary hover:underline focus:underline;
  }
}
