@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');

@import '@fortawesome/fontawesome-svg-core/styles.css';

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@layer components {
  .heading {
    @apply text-3xl text-midnight-100 font-serif font-bold tracking-wide mb-2 pb-2;
  }

  .card {
    @apply bg-midnight-900 rounded-2xl p-4 md:p-8;
  }

  .button {
    @apply px-8 py-2 text-center
      text-midnight-900 bg-gradient-to-br from-primary via-primary to-primary-light
      hover:opacity-60 focus:opacity-60 rounded-xl shadow-md transition;
  }

  .link {
    @apply text-primary hover:underline focus:underline;
  }

  .bubble-sent {
    border: 12px solid;
    border-image-source: url('../images/bubble_sent.svg');
    border-image-slice: 25% fill;
    border-image-width: 256px;
    border-image-repeat: round;

    @apply pr-2;
  }

  .bubble-received {
    border: 12px solid;
    border-image-source: url('../images/bubble_received.svg');
    border-image-slice: 25% fill;
    border-image-width: 256px;
    border-image-repeat: round;

    @apply pl-2;
  }
}
