---
layout: base.njk
---

<section class="container mx-auto p-4 md:p-8">
  <div class="grid gap-8 md:gap-16">
    {% include 'home/title.njk' %}
    {% include 'home/software.njk' %}
    {% include 'home/art.njk' %}
    {% include 'home/contact.njk' %}
  </div>
</section>
